html
{
    font-family: sans-serif;
    background-image: url('chambre.jpg');
    background-attachment: fixed;
    opacity: 0.96;
    background-size: cover;
    filter: brightness(70%);

}
#logo
{
    text-align: center;
    font-family:'Matura MT Script Capitals','Palace Script MT';
    font-size: 3.5rem;
    padding-bottom: 50px;
    padding-top: 50px;
}
header
{
    background-color: black;
    align-items: center;
    color: whitesmoke;
    width: 100%;
    height: 30px;
    position: fixed;
}
nav div
{
    display: inline-block;
    padding: 0px 20px ;
}
a
{
    text-decoration: none;
    color: whitesmoke;
}
a:hover
{
    color: rgba(212, 31, 116, 0.808);
    text-decoration: underline;
}
a:focus
{
    color: rgba(212, 31, 116, 0.808);
}
table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
  }
  
  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
  }
  
  th {
    background-color: rgb(235,235,235);
  }
  
  td {
    text-align: center;
  }
  
  tr:nth-child(even) td {
    background-color: rgba(250, 250, 250, 0.397);
  }
  
  tr:nth-child(odd) td {
    background-color: rgba(250, 250, 250, 0.74);
  }
  
  caption {
    padding: 10px;
    font-family: 'Forte','Rockwell',Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
  }
  h1
  {
    padding: 10px;
    font-family: 'Forte','Rockwell',Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
  }
section
{
    display: flex;
    justify-content: space-around; 
}

footer{
  height: 200px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 15px;
  text-align: center;
  background-color: rgb(211, 199, 199);
  background-attachment: fixed;

}
#contact{
  padding-top: 50px;
  font-family:'Brush Script MT','Agency FB',sans-serif ;
  font-size: 2.5rem;
}
.facebook:hover{
  font-size: 15px;
}
.twitter:hover{
  font-size: 15px;
}
.whatsapp:hover{
  font-size: 15px;
}

@media all and (max-width: 1024px)
{
  section 
  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
  }
 form 
 {
  text-align: center;
  position: center;
 }
 h1 
 {
  text-align: center;
 }
 #logo
 {
  font-size: 2.5rem;
 }
}



/*html {
    font-family: sans-serif;
  }
  
  table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
  }
  
  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
  }
  
  th {
    background-color: rgb(235,235,235);
  }
  
  td {
    text-align: center;
  }
  
  tr:nth-child(even) td {
    background-color: rgb(250,250,250);
  }
  
  tr:nth-child(odd) td {
    background-color: rgb(245,245,245);
  }
  
  caption {
    padding: 10px;
  }*/