.big-banner {
  background-image: url('./dashboard.png');
  background-attachment: fixed;
  background-size: cover;
}

#logo {
  text-align: center;
  font-family: 'Matura MT Script Capitals', 'Palace Script MT';
  font-size: 3.5rem;
  padding-bottom: 50px;
  padding-top: 100px;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

a:hover {
  color: rgba(212, 31, 116, 0.808);
  text-decoration: underline;
}

a:focus {
  color: rgba(212, 31, 116, 0.808);
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  padding-top: 70px;

}


caption {
  padding: 10px;
  font-family: 'Rockwell', Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  letter-spacing: 1px;
  color: black;
}

.client {
  border: 1px black solid;
  border-radius: 50%;
  height: 60px;
  width: 200px;
  text-align: center;
  padding-top: 20px;
  background-color: rgb(241, 196, 247);
}

.client:hover {
  border-radius: 50%;
  background-color: rgb(238, 85, 205);
}

.order {

  border: 1px black solid;
  border-radius: 50%;
  height: 60px;
  width: 200px;
  text-align: center;
  padding-top: 20px;
  background-color: rgb(241, 196, 247);
}

.order:hover {
  border-radius: 50%;
  background-color: rgb(238, 85, 205);
}

.attente {

  border: 1px black solid;
  border-radius: 50%;
  height: 60px;
  width: 200px;
  text-align: center;
  padding-top: 20px;
  background-color: rgb(241, 196, 247);
}

.attente:hover {
  border-radius: 50%;
  background-color: rgb(238, 85, 205);
}

footer {
  height: 150px;
  width: 100%;
  text-align: center;
  background-color: rgb(211, 199, 199);
  background-attachment: fixed;

}

#contact {
  padding-top: 50px;
  font-family: 'Brush Script MT', 'Agency FB', sans-serif;
  font-size: 2.5rem;
}

.facebook:hover {
  font-size: 15px;
}

.twitter:hover {
  font-size: 15px;
}

.whatsapp:hover {
  font-size: 15px;
}

@media all and (max-width: 1024px) {
  section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

  }

  form {
    text-align: center;
    position: center;
  }

  #logo {
    font-size: 2.5rem;
    padding-top: 150px;
  }
}